.menu-logo {
	max-width: 90px;
	height: auto;
}

.set-bg {
	background-size: cover;
	background-position: center;
	position: relative;
}

.bg-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	/* Dark overlay */
	z-index: 1;
}

.breadcrumb-section .container {
	position: relative;
	z-index: 2;
}

.li-pic {
	height: 80px;
	overflow: hidden;
}
